<div class="mt-3 mt-lg-0">
  <select
    class="form-select nav-select"
    ng-model="vm.navAction"
    ng-change="vm.handleNav()"
  >
    <option value="" disabled>Menu</option>
    <option value="bazaar">Bazaar</option>
    <option value="admin">Admin</option>
    <option value="revives">Revives</option>
    <option value="logs">Logs</option>
    <option value="logout">Log out</option>
  </select>
</div>
